# Ignore everything that's just the basic WordPress install
*

# Include general stuff in the root of the repo
!.gitignore
!.htaccess
!README.md
!licence.txt

# Include the custom WordPress theme
!/wp-content/themes/breda-voor-elkaar/*

# Ignore the secred keys file
/wp-content/themes/breda-voor-elkaar/keys.php

# Include certain customized WordPress plugins
!/wp-content/plugins/custom

# Ignore general stuff you always ignore
*.iml
*.ipr
*.iws
.idea/
out/
local.properties
.DS_Store
.DS_Store?
ehthumbs.db
Icon?
Thumbs.db